<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        meta(http-equiv="X-UA-Compatible", content="ie=edge")
        title Danh sách nhân viên

        script(src="/js/jquery.js")
        script(src="/js/popper.js")
        script(src="/js/bootstrap.js")
        
        link(href="/css/bootstrap.css", rel="stylesheet")  

        script.
            var employees = !{JSON.stringify(employees)}; 
            var username = !{JSON.stringify(username)};
            var password = !{JSON.stringify(password)};
        script(src="/js/plusFunction.js")  
    body
        div(class="container")
            div(class="alert alert-warning")
                h1(class="text-center") XIN CHÀO QUẢN LÍ ĐƠN VỊ #{department}   
            br             
            div(class="alert alert alert-secondary")
                div(class="row")
                    div(class="text-center col")
                        h3 Lựa chọn chức năng
                    div(class="text-center col")
                        button(class="btn btn-primary" onclick="fnDisplaySelect('list')") Danh sách nhân viên
                    div(class="text-center col")
                        button(class="btn btn-info" onclick="fnDisplaySelect('stat')") Thống kê ngoại ngữ
            br
            div(class="text-center" id="list")
                    div(class="alert alert-success")
                        h3(class="text-center") Danh sách nhân viên                    
                    form
                        div(class="input-group")
                            div(class="input-group-prepend")
                                <span class="input-group-text">Lọc danh sách</span>
                            input(type="text" class="form-control" id="search" onkeyup="filter()")
                    br                        
                    table(class="table table-striped" id="table")
                        thead(class="thead-dark")
                            tr
                                th(scope="col") STT                                
                                th(scope="col") Họ tên
                                th(scope="col") Chi tiết                                
                        tbody(id="listBody") 
                            each e, i in employees                        
                                tr
                                    th(scope="col") #{i}
                                    th(scope="col"): span(class="text-capitalize") #{e.Ho_ten}
                                    th(scope="col")
                                        a(href=`./${username}/${password}/${e.CMND}` target="_blank") Chi tiết
            div(class="text-center" id="stat" style="display:none") 
                    div(class="alert alert-success")                                  
                        h3(class="text-center") Thống kê nhân viên theo ngoại ngữ                          
                    table(class="table table-striped")
                        thead(class="thead-dark")
                            tr
                                th(scope="col") Ngoại ngữ
                                th(scope="col") Số nhân viên
                                th(scope="col") Tỷ lệ
                        tbody
                            for s in flStat
                                tr
                                    th(scope="col") #{s.language}
                                    th(scope="col") #{s.quantity}
                                    th(scope="col") #{s.ratio}
            
        
    